<h1>Restablecimiento de contrase침a</h1>
<p>Hola {{name}},</p>
<p>Para restablecer tu contrase침a, haz clic en el siguiente enlace:</p>
<a href="{{url}}">Restablecer contrase침a</a>
<p>Si no solicitaste este cambio, puedes ignorar este correo electr칩nico.</p>
